src/main/mule/mulesoft-apiledsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- ========================================= -->
	<!-- CONFIGURATIONS -->
	<!-- ========================================= -->
	
	<!-- Configuration Properties -->
	<configuration-properties file="config.yaml" doc:name="Configuration properties" />
	
	<!-- Global Error Handler -->
	<error-handler name="global-error-handler" doc:name="Global Error Handler">
		<on-error-propagate type="ANY" enableNotifications="true" logException="true">
			<ee:transform doc:name="Error Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"error": {
		"type": error.errorType.identifier,
		"message": error.description default "An unexpected error occurred",
		"timestamp": now(),
		"correlationId": correlationId default ""
	}
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" message="#['Error occurred: ' ++ error.description]" />
		</on-error-propagate>
	</error-handler>
	
	<!-- Salesforce REST API HTTP Request Configuration -->
	<http:request-config name="Salesforce_REST_API_Config" doc:name="Salesforce REST API Config" basePath="/services/data/${salesforce.apiVersion}">
		<http:request-connection protocol="HTTPS" host="#[p('salesforce.instanceUrl') replace 'https://' with '']" />
	</http:request-config>
	
	<!-- HTTP Config for OAuth Token Request -->
	<http:request-config name="Salesforce_OAuth_Config" doc:name="Salesforce OAuth Config">
		<http:request-connection protocol="HTTPS" host="#[p('salesforce.tokenUrl') replace 'https://' with '' replace '/services/oauth2/token' with '']" />
	</http:request-config>
	
	<!-- Sub-flow: Get Salesforce Access Token -->
	<sub-flow name="get-salesforce-token-subflow" doc:name="Get Salesforce Token">
		<http:request 
			method="POST" 
			path="/services/oauth2/token"
			config-ref="Salesforce_OAuth_Config"
			doc:name="Request OAuth Token">
			<http:body><![CDATA[#[output application/x-www-form-urlencoded
---
{
	"grant_type": "client_credentials",
	"client_id": p('salesforce.clientId'),
	"client_secret": p('salesforce.clientSecret')
}]]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/x-www-form-urlencoded"
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload.access_token]" 
			variableName="accessToken" 
			doc:name="Store Access Token" />
		
		<logger level="DEBUG" message="#['OAuth token obtained successfully']" />
	</sub-flow>
	
	<!-- ========================================= -->
	<!-- SYSTEM APIs - LAYER 3 (Bottom) -->
	<!-- ========================================= -->
	
	<!-- System API Listener Configuration -->
	<http:listener-config name="System_Customer_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.system.customer.host}" port="${http.system.customer.port}" />
	</http:listener-config>
	
	<!-- System API Request Configuration (for calling System API from Process/Experience APIs) -->
	<http:request-config name="System_Customer_HTTP_Request_config" doc:name="System API Request config">
		<http:request-connection host="${http.system.customer.host}" port="${http.system.customer.port}" />
	</http:request-config>
	
	<!-- System API: Create Customer and Contacts via REST API -->
	<flow name="system-api-create-customer-flow" doc:name="System API - Create Customer">
		<http:listener 
			config-ref="System_Customer_HTTP_Listener_config" 
			path="/customers" 
			allowedMethods="POST"
			doc:name="POST /customers">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[SYSTEM-API] Creating customer via REST API - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Get OAuth Token -->
		<flow-ref name="get-salesforce-token-subflow" doc:name="Get OAuth Token" />
		
		<!-- Store contacts for later -->
		<set-variable 
			value="#[payload.contacts default []]" 
			variableName="contacts" 
			doc:name="Store Contacts" />
		
		<!-- Prepare Account for Salesforce REST API -->
		<ee:transform doc:name="Prepare Account JSON">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Name: payload.customerName,
	Phone: payload.phone default null,
	Website: payload.website default null,
	BillingStreet: payload.billingAddress.street default null,
	BillingCity: payload.billingAddress.city default null,
	BillingState: payload.billingAddress.state default null,
	BillingPostalCode: payload.billingAddress.postalCode default null,
	BillingCountry: payload.billingAddress.country default null,
	Type: "Customer"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<!-- Create Account via Salesforce REST API -->
		<http:request 
			method="POST" 
			path="/sobjects/Account"
			config-ref="Salesforce_REST_API_Config"
			doc:name="POST Account to Salesforce">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"Authorization": "Bearer " ++ vars.accessToken
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload.id]" 
			variableName="accountId" 
			doc:name="Store Account ID" />
		
		<set-variable 
			value="#[payload.success]" 
			variableName="accountSuccess" 
			doc:name="Store Success Flag" />
		
		<logger level="INFO" message="#['Account created with ID: ' ++ vars.accountId]" />
		
		<!-- Create Contacts if Account creation was successful -->
		<choice doc:name="Check if contacts exist">
			<when expression="#[sizeOf(vars.contacts) &gt; 0 and vars.accountSuccess]">
				<set-variable 
					value="#[[]]" 
					variableName="contactIds" 
					doc:name="Init Contact IDs Array" />
				
				<!-- Loop through contacts and create each one -->
				<foreach doc:name="For Each Contact" collection="#[vars.contacts]">
					<ee:transform doc:name="Prepare Contact JSON">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	FirstName: payload.firstName,
	LastName: payload.lastName,
	Email: payload.email default null,
	Phone: payload.phone default null,
	AccountId: vars.accountId
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					
					<http:request 
						method="POST" 
						path="/sobjects/Contact"
						config-ref="Salesforce_REST_API_Config"
						doc:name="POST Contact to Salesforce">
						<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"Authorization": "Bearer " ++ vars.accessToken
}]]]></http:headers>
					</http:request>
					
					<set-variable 
						value="#[vars.contactIds + [payload.id]]" 
						variableName="contactIds" 
						doc:name="Collect Contact ID" />
				</foreach>
				
				<logger level="INFO" message="#['Contacts created: ' ++ write(vars.contactIds, 'application/json')]" />
			</when>
			<otherwise>
				<set-variable 
					value="#[[]]" 
					variableName="contactIds" 
					doc:name="Empty Contact IDs" />
			</otherwise>
		</choice>
		
		<!-- Final Response -->
		<ee:transform doc:name="Success Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"success": true,
	"accountId": vars.accountId,
	"contactIds": vars.contactIds,
	"message": "Customer and contacts created successfully via REST API",
	"correlationId": vars.correlationId
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- System API: Get Customer by ID via REST API -->
	<flow name="system-api-get-customer-flow" doc:name="System API - Get Customer">
		<http:listener 
			config-ref="System_Customer_HTTP_Listener_config" 
			path="/customers/{customerId}" 
			allowedMethods="GET"
			doc:name="GET /customers/{customerId}">
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<set-variable 
			value="#[attributes.uriParams.customerId]" 
			variableName="customerId" 
			doc:name="Set Customer ID" />
		
		<logger level="INFO" message="#['[SYSTEM-API] Getting customer via REST API: ' ++ vars.customerId]" />
		
		<!-- Get OAuth Token -->
		<flow-ref name="get-salesforce-token-subflow" doc:name="Get OAuth Token" />
		
		<!-- Get Account from Salesforce REST API -->
		<http:request 
			method="GET" 
			path="#['/sobjects/Account/' ++ vars.customerId]"
			config-ref="Salesforce_REST_API_Config"
			doc:name="GET Account from Salesforce">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization": "Bearer " ++ vars.accessToken
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload]" 
			variableName="accountData" 
			doc:name="Store Account Data" />
		
		<!-- Query Contacts from Salesforce REST API -->
		<http:request 
			method="GET" 
			path="/query"
			config-ref="Salesforce_REST_API_Config"
			doc:name="Query Contacts from Salesforce">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization": "Bearer " ++ vars.accessToken
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"q" : "SELECT Id, FirstName, LastName, Email, Phone FROM Contact WHERE AccountId = '" ++ vars.customerId ++ "'"
}]]]></http:query-params>
		</http:request>
		
		<!-- Build Response -->
		<ee:transform doc:name="Build Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"accountId": vars.accountData.Id,
	"customerName": vars.accountData.Name,
	"phone": vars.accountData.Phone,
	"website": vars.accountData.Website,
	"billingAddress": {
		"street": vars.accountData.BillingStreet,
		"city": vars.accountData.BillingCity,
		"state": vars.accountData.BillingState,
		"postalCode": vars.accountData.BillingPostalCode,
		"country": vars.accountData.BillingCountry
	},
	"contacts": payload.records map {
		"contactId": $.Id,
		"firstName": $.FirstName,
		"lastName": $.LastName,
		"email": $.Email,
		"phone": $.Phone
	},
	"correlationId": vars.correlationId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- ========================================= -->
	<!-- PROCESS APIs - LAYER 2 (Middle) -->
	<!-- ========================================= -->
	
	<!-- Process API: Customer Orders Listener Configuration -->
	<http:listener-config name="Process_CustomerOrders_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.process.customerOrders.host}" port="${http.process.customerOrders.port}" />
	</http:listener-config>
	
	<!-- Process API: Customer Orders Request Configuration -->
	<http:request-config name="Process_CustomerOrders_HTTP_Request_config" doc:name="Process API Request config">
		<http:request-connection host="${http.process.customerOrders.host}" port="${http.process.customerOrders.port}" />
	</http:request-config>
	
	<!-- Process API: Customer Orders Orchestration -->
	<flow name="process-api-customer-orders-flow" doc:name="Process API - Customer Orders">
		<http:listener 
			config-ref="Process_CustomerOrders_HTTP_Listener_config" 
			path="/customer-orders" 
			allowedMethods="POST"
			doc:name="POST /customer-orders">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[PROCESS-API] Processing customer order - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Store original payload -->
		<set-variable 
			value="#[payload]" 
			variableName="originalRequest" 
			doc:name="Store Original Request" />
		
		<!-- Business Logic: Validate Order -->
		<ee:transform doc:name="Validate Order">
			<ee:variables>
				<ee:set-variable variableName="isValidOrder"><![CDATA[%dw 2.0
output application/java
---
payload.customer != null and 
payload.orderItems != null and 
sizeOf(payload.orderItems) > 0]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<choice doc:name="Is Order Valid?">
			<when expression="#[vars.isValidOrder]">
				<!-- Call System API to create/get customer -->
				<choice doc:name="Customer Exists?">
					<when expression="#[vars.originalRequest.customer.customerId != null]">
						<!-- Get existing customer -->
						<http:request 
							method="GET" 
							path="#['/customers/' ++ vars.originalRequest.customer.customerId]"
						config-ref="System_Customer_HTTP_Request_config"
							doc:name="Get Customer">
							<http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
						</http:request>
						
						<set-variable 
							value="#[payload.accountId]" 
							variableName="customerId" 
							doc:name="Set Customer ID" />
					</when>
					<otherwise>
						<!-- Create new customer -->
						<ee:transform doc:name="Prepare Customer Data">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.originalRequest.customer]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						
						<http:request 
							method="POST" 
							path="/customers"
							config-ref="System_Customer_HTTP_Request_config"
							doc:name="Create Customer">
							<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
						</http:request>
						
						<set-variable 
							value="#[payload.accountId]" 
							variableName="customerId" 
							doc:name="Set Customer ID" />
					</otherwise>
				</choice>
				
				<!-- Business Logic: Calculate Order Total -->
				<ee:transform doc:name="Calculate Order Total">
					<ee:variables>
						<ee:set-variable variableName="orderTotal"><![CDATA[%dw 2.0
output application/java
---
sum(vars.originalRequest.orderItems map ($.quantity * $.unitPrice))]]></ee:set-variable>
						<ee:set-variable variableName="orderData"><![CDATA[%dw 2.0
output application/json
---
{
	"customerId": vars.customerId,
	"orderDate": now(),
	"totalAmount": vars.orderTotal,
	"status": "Pending",
	"items": vars.originalRequest.orderItems
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				
				<logger level="INFO" message="#['Order total calculated: ' ++ vars.orderTotal as String]" />
				
				<!-- Build Success Response -->
				<ee:transform doc:name="Success Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"success": true,
	"customerId": vars.customerId,
	"orderData": vars.orderData,
	"message": "Customer order processed successfully",
	"correlationId": vars.correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<!-- Invalid Order -->
				<ee:transform doc:name="Validation Error">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"success": false,
	"error": "Invalid order data. Customer and order items are required.",
	"correlationId": vars.correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- Process API: Order Fulfillment Listener Configuration -->
	<http:listener-config name="Process_OrderFulfillment_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.process.orderFulfillment.host}" port="${http.process.orderFulfillment.port}" />
	</http:listener-config>
	
	<!-- Process API: Order Fulfillment Request Configuration (for calling from Experience APIs) -->
	<http:request-config name="Process_OrderFulfillment_HTTP_Request_config" doc:name="HTTP Request config">
		<http:request-connection host="${http.process.orderFulfillment.host}" port="${http.process.orderFulfillment.port}" />
	</http:request-config>
	
	<!-- Process API: Order Fulfillment Flow -->
	<flow name="process-api-order-fulfillment-flow" doc:name="Process API - Order Fulfillment">
		<http:listener 
			config-ref="Process_OrderFulfillment_HTTP_Listener_config" 
			path="/fulfillment" 
			allowedMethods="POST"
			doc:name="POST /fulfillment">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[PROCESS-API] Processing order fulfillment - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Business Logic: Validate Fulfillment Request -->
		<ee:transform doc:name="Validate Fulfillment">
			<ee:variables>
				<ee:set-variable variableName="customerId"><![CDATA[%dw 2.0
output application/java
---
payload.customerId]]></ee:set-variable>
				<ee:set-variable variableName="orderItems"><![CDATA[%dw 2.0
output application/json
---
payload.orderItems]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<!-- Get Customer Details -->
		<http:request 
			method="GET" 
			path="#['/customers/' ++ vars.customerId]"
			config-ref="System_Customer_HTTP_Request_config"
			doc:name="Get Customer Details">
			<http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload]" 
			variableName="customerData" 
			doc:name="Store Customer Data" />
		
		<!-- Business Logic: Prepare Fulfillment -->
		<ee:transform doc:name="Prepare Fulfillment">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"fulfillmentId": uuid(),
	"customerId": vars.customerId,
	"customerName": vars.customerData.customerName,
	"shippingAddress": vars.customerData.billingAddress,
	"items": vars.orderItems,
	"fulfillmentDate": now(),
	"status": "Ready to Ship",
	"trackingNumber": "TRK" ++ (randomInt(1000000) as String)
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<logger level="INFO" message="#['Order fulfillment prepared for customer: ' ++ vars.customerId]" />
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- ========================================= -->
	<!-- EXPERIENCE APIs - LAYER 1 (Top) -->
	<!-- ========================================= -->
	
	<!-- Experience API: Web Listener Configuration -->
	<http:listener-config name="Experience_Web_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.experience.web.host}" port="${http.experience.web.port}" />
	</http:listener-config>
	
	<!-- Experience API: Web - Create Order -->
	<flow name="experience-api-web-create-order-flow" doc:name="Experience API - Web Create Order">
		<http:listener 
			config-ref="Experience_Web_HTTP_Listener_config" 
			path="/orders" 
			allowedMethods="POST"
			doc:name="POST /orders">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[EXPERIENCE-WEB] Creating order - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Transform to Process API format -->
		<ee:transform doc:name="Transform to Process API">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customer: payload.customer,
	orderItems: payload.items
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<!-- Call Process API -->
		<http:request 
			method="POST" 
			path="/customer-orders"
			config-ref="Process_CustomerOrders_HTTP_Request_config"
			doc:name="Call Process API">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<!-- Transform to Web-friendly format -->
		<ee:transform doc:name="Transform to Web Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"orderId": payload.orderData.customerId ++ "-" ++ (now() as String {format: "yyyyMMddHHmmss"}),
	"status": "success",
	"message": "Your order has been placed successfully",
	"orderSummary": {
		"customerId": payload.customerId,
		"totalAmount": payload.orderData.totalAmount,
		"orderDate": payload.orderData.orderDate,
		"estimatedDelivery": payload.orderData.orderDate + |P7D|
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- Experience API: Mobile Listener Configuration -->
	<http:listener-config name="Experience_Mobile_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.experience.mobile.host}" port="${http.experience.mobile.port}" />
	</http:listener-config>
	
	<!-- Experience API: Mobile - Create Order (Optimized for Mobile) -->
	<flow name="experience-api-mobile-create-order-flow" doc:name="Experience API - Mobile Create Order">
		<http:listener 
			config-ref="Experience_Mobile_HTTP_Listener_config" 
			path="/orders" 
			allowedMethods="POST"
			doc:name="POST /orders">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[EXPERIENCE-MOBILE] Creating order - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Transform to Process API format -->
		<ee:transform doc:name="Transform to Process API">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customer: payload.customer,
	orderItems: payload.items
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<!-- Call Process API -->
		<http:request 
			method="POST" 
			path="/customer-orders"
			config-ref="Process_CustomerOrders_HTTP_Request_config"
			doc:name="Call Process API">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<!-- Transform to Mobile-optimized format (minimal payload) -->
		<ee:transform doc:name="Transform to Mobile Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"id": payload.customerId,
	"status": "OK",
	"total": payload.orderData.totalAmount,
	"eta": payload.orderData.orderDate + |P7D| as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- Experience API: Customer Service Listener Configuration -->
	<http:listener-config name="Experience_CustomerService_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.experience.customerService.host}" port="${http.experience.customerService.port}" />
	</http:listener-config>
	
	<!-- Experience API: Customer Service - Get Customer Details -->
	<flow name="experience-api-customer-service-flow" doc:name="Experience API - Customer Service">
		<http:listener 
			config-ref="Experience_CustomerService_HTTP_Listener_config" 
			path="/customer/{customerId}" 
			allowedMethods="GET"
			doc:name="GET /customer/{customerId}">
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<set-variable 
			value="#[attributes.uriParams.customerId]" 
			variableName="customerId" 
			doc:name="Set Customer ID" />
		
		<logger level="INFO" message="#['[EXPERIENCE-CS] Getting customer details - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Call System API to get customer -->
		<http:request 
			method="GET" 
			path="#['/customers/' ++ vars.customerId]"
			config-ref="System_Customer_HTTP_Request_config"
			doc:name="Get Customer">
			<http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<!-- Transform for Customer Service format -->
		<ee:transform doc:name="Transform for CS">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"customerProfile": {
		"id": payload.accountId,
		"name": payload.customerName,
		"contactInfo": {
			"phone": payload.phone,
			"website": payload.website,
			"address": payload.billingAddress
		},
		"contacts": payload.contacts map {
			"id": $.contactId,
			"name": $.firstName ++ " " ++ $.lastName,
			"email": $.email,
			"phone": $.phone
		}
	},
	"metadata": {
		"retrievedAt": now(),
		"correlationId": vars.correlationId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<error-handler ref="global-error-handler" />
	</flow>
	
	<!-- Experience API: Customer Service - Process Order with Fulfillment -->
	<flow name="experience-api-customer-service-order-flow" doc:name="Experience API - CS Process Order">
		<http:listener 
			config-ref="Experience_CustomerService_HTTP_Listener_config" 
			path="/process-order" 
			allowedMethods="POST"
			doc:name="POST /process-order">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[EXPERIENCE-CS] Processing order with fulfillment - CorrelationId: ' ++ vars.correlationId]" />
		
		<set-variable 
			value="#[payload]" 
			variableName="originalRequest" 
			doc:name="Store Original Request" />
		
		<!-- Step 1: Call Customer Orders Process API -->
		<ee:transform doc:name="Prepare Order Request">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customer: vars.originalRequest.customer,
	orderItems: vars.originalRequest.items
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<http:request 
			method="POST" 
			path="/customer-orders"
			config-ref="Process_CustomerOrders_HTTP_Request_config"
			doc:name="Create Order">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload]" 
			variableName="orderResponse" 
			doc:name="Store Order Response" />
		
		<!-- Step 2: Call Order Fulfillment Process API -->
		<ee:transform doc:name="Prepare Fulfillment Request">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customerId: vars.orderResponse.customerId,
	orderItems: vars.originalRequest.items
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<http:request 
			method="POST" 
			path="/fulfillment"
			config-ref="Process_OrderFulfillment_HTTP_Request_config"
			doc:name="Create Fulfillment">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload]" 
			variableName="fulfillmentResponse" 
			doc:name="Store Fulfillment Response" />
		
		<!-- Aggregate Response -->
		<ee:transform doc:name="Aggregate Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"success": true,
	"order": {
		"customerId": vars.orderResponse.customerId,
		"orderData": vars.orderResponse.orderData,
		"message": vars.orderResponse.message
	},
	"fulfillment": vars.fulfillmentResponse,
	"correlationId": vars.correlationId
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<logger level="INFO" message="#['Order and fulfillment processed successfully']" />
		
		<error-handler ref="global-error-handler" />
	</flow>

</mule>
