src/main/mule/process/order-fulfillment-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- ========================================= -->
	<!-- PROCESS API: ORDER FULFILLMENT -->
	<!-- Layer 2 - Middle Layer -->
	<!-- Purpose: Handle order fulfillment business logic -->
	<!-- ========================================= -->
	
	<!-- Process API: Order Fulfillment Listener Configuration -->
	<http:listener-config name="Process_OrderFulfillment_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.process.orderFulfillment.host}" port="${http.process.orderFulfillment.port}" protocol="HTTP" />
	</http:listener-config>
	
	<!-- Process API: Order Fulfillment Request Configuration (for calling from Experience APIs) -->
	<http:request-config name="Process_OrderFulfillment_HTTP_Request_config" doc:name="Process API Request config">
		<http:request-connection host="${http.process.orderFulfillment.host}" port="${http.process.orderFulfillment.port}" protocol="HTTP" />
	</http:request-config>
	
	<!-- Process API: Order Fulfillment Flow -->
	<flow name="process-api-order-fulfillment-flow" doc:name="Process API - Order Fulfillment">
		<http:listener 
			config-ref="Process_OrderFulfillment_HTTP_Listener_config" 
			path="/fulfillment" 
			allowedMethods="POST"
			doc:name="POST /fulfillment">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
		
		<logger level="INFO" message="#['[PROCESS-API] Processing order fulfillment - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Business Logic: Validate Fulfillment Request -->
		<ee:transform doc:name="Validate Fulfillment">
			<ee:variables>
				<ee:set-variable variableName="customerId"><![CDATA[%dw 2.0
output application/java
---
payload.customerId]]></ee:set-variable>
				<ee:set-variable variableName="orderItems"><![CDATA[%dw 2.0
output application/json
---
payload.orderItems]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<!-- Get Customer Details -->
		<http:request 
			method="GET" 
			path="#['/customers/' ++ vars.customerId]"
			config-ref="System_Customer_HTTP_Request_config"
			doc:name="Get Customer Details">
			<http:headers><![CDATA[#[output application/java
---
{
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<set-variable 
			value="#[payload]" 
			variableName="customerData" 
			doc:name="Store Customer Data" />
		
		<!-- Business Logic: Prepare Fulfillment -->
		<ee:transform doc:name="Prepare Fulfillment">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"fulfillmentId": uuid(),
	"customerId": vars.customerId,
	"customerName": vars.customerData.customerName,
	"shippingAddress": vars.customerData.billingAddress,
	"items": vars.orderItems,
	"fulfillmentDate": now(),
	"status": "Ready to Ship",
	"trackingNumber": "TRK" ++ (randomInt(1000000) as String)
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<logger level="INFO" message="#['Order fulfillment prepared for customer: ' ++ vars.customerId]" />
		
		<error-handler ref="global-error-handler" />
	</flow>

</mule>
