src/main/mule/experience/mobile-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- ========================================= -->
	<!-- EXPERIENCE API: MOBILE CHANNEL -->
	<!-- Layer 1 - Top Layer -->
	<!-- Purpose: Optimized for mobile apps (minimal payload) -->
	<!-- ========================================= -->
	
	<!-- Experience API: Mobile Listener Configuration -->
	<http:listener-config name="Experience_Mobile_HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="${http.experience.mobile.host}" port="${http.experience.mobile.port}" protocol="HTTP" />
	</http:listener-config>
	
	<!-- Experience API: Mobile - Create Order (Optimized for Mobile) -->
	<flow name="experience-api-mobile-create-order-flow" doc:name="Experience API - Mobile Create Order">
		<http:listener 
			config-ref="Experience_Mobile_HTTP_Listener_config" 
			path="/orders" 
			allowedMethods="POST"
			doc:name="POST /orders">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			</http:response>
		</http:listener>
		
		<set-variable 
			value="#[attributes.headers['x-correlation-id'] default uuid()]" 
			variableName="correlationId" 
			doc:name="Set Correlation ID" />
				<logger level="INFO" message="#['[EXPERIENCE-MOBILE] Creating order - CorrelationId: ' ++ vars.correlationId]" />
		
		<!-- Transform to Process API format -->
		<ee:transform doc:name="Transform to Process API">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customer: payload.customer,
	orderItems: payload.items
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<!-- Call Process API -->
		<http:request 
			method="POST" 
			path="/customer-orders"
			config-ref="Process_CustomerOrders_HTTP_Request_config"
			doc:name="Call Process API">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type": "application/json",
	"x-correlation-id" : vars.correlationId
}]]]></http:headers>
		</http:request>
		
		<!-- Transform to Mobile-optimized format (minimal payload) -->
		<ee:transform doc:name="Transform to Mobile Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"id": payload.customerId,
	"status": "OK",
	"total": payload.orderData.totalAmount,
	"eta": payload.orderData.orderDate + |P7D| as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<error-handler ref="global-error-handler" />
	</flow>

</mule>
